#hero {
    color: #FF7417;
    height: 600px;
    width: 100%;
    background-image: url(../../assets/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .hero-content {
    max-height: 600px;
    margin-top: 30px;
}

#hero .hero-title {
    margin-top: 80px;
    font-family: 'Bebas Neue';
}

#hero .h-one {
    /* color: #f05323; */
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;

}

#hero .h-two {
    /* color: #f05323; */
    margin-top: -45px;
    font-size: 140px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
}

#hero .h-three {
    color: whitesmoke;
    margin-top: -40px;
    font-size: 42px;
    /* margin-left: 10px; */
    /* font-weight: bold; */
    text-align: center;
    line-height: 1.3em;

}

#hero span {
    /* color: #f05323; */
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

#hero p {
    box-sizing: border-box;
    padding: 20px;
    background-color: #21437F;
    color: whitesmoke;
    /* margin-left: 60px; */
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7em;
    opacity: 0.8;

}

#hero .hero-paragraph {
    margin-top: 40px;
}

@media only screen and (min-device-width: 325px) and (max-width: 667px) {
    #hero {
        height: 1000px;
    }

    #hero .h-one {
        font-size: 55px;
    }

    #hero .h-two {
        font-size: 85px;
        margin-top: -30px;
    }

    #hero .h-three {
        font-size: 30px;
        margin-top: -30px;
    }
}