#ourproject {
    color: white;

}

#ourproject .img-ourproject {
    margin-top: -50px;
}

#ourproject h2 {
    font-weight: bold;
    font-size: 52px;
}

#ourproject .board {
    height: 100%;
    width: 100%;
    padding: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 7px 10px 29px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 29px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 29px -1px rgba(0, 0, 0, 0.75);
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

#ourproject p {
    margin-top: 25px;
    text-align: justify;
    max-width: 450px;
}

@media only screen and (min-device-width: 375px) and (max-width: 601px) {
    #ourproject {
        margin-left: 15px;
    }
}