*,
:after,
:before {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.text-white {
    color: white;
    font-weight: bold;
}

section {
    padding: 48px 0;
}

section#footer {
    padding: 24px 0;
}

h1 {
    font-weight: 300;
}

p {
    font-size: 16px;
}

h4 {
    font-weight: bold;
}

.stat p {
    text-transform: uppercase;
}

.stats {
    display: flex;
    flex-wrap: wrap;
}

.counter {
    font-size: 32px;
}

.btn {
    background-color: #fbb034;
    border-radius: 50px;
    transition: 0.5s ease;
    letter-spacing: 1.5px;
    min-width: 100px;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1) !important;
    cursor: pointer;
    background-color: #E50914;
}

a {
    font-weight: bold;
}

#ourteam .material-icons {
    font-size: 50px;
}

.flex-dir-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.jc-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

.m-r-16 {
    margin-right: 16px;
}

div {
    box-sizing: border-box;
}